html, body{
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

body
{

  background-image: url('/images/spring.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color:rgba(255, 255, 255, 1.0);
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.8);
}
#content {
    position: fixed;
    top: 75px;
    bottom: 100px;
    left: 0;
    right: 0;
    background-color: #F63;
    overflow: auto;

    display: flex;
   align-items: center;
   justify-content: center;
   background-color:rgba(0, 0, 0, 0.7);
   margin: 0;
   padding: 0;

}

h1.site-name
{
  margin-top: 23px;
}



.announcement-card, .tweet-card
{
  background-color: #fff;
  font-size: 2em;
  color: #000;
  width: 100%;
  max-width: 1200px;
  font-family: 'ITCFranklinGothicW01-Md 812695',Helvetica,Helvetica Neue,Arial,sans-serif;

  padding: 25px;
}



.content
{
  display: inline-block;
  margin-top: 15px;

  vertical-align: top;
}

.name, .username, .time {
 font-size: 0.8em;
}



.hashtag {
  margin-right: 100px;
}







.wall
{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}

.announcement-card, .tweet-card
{
  max-height: 700px;
  display: none;

}

.item-header{
  font-size: 1.3em;
}

.cycle-slide-active
{
  display: block;
}

.media .content .body img
{
  max-width:100%;
  max-height:300px;

  border: 2px solid #000;
}

.media .body
{
  font-size: 3em;
  line-height: 1.3em;
}

.avatar
{
  margin-top: 15px;
  margin-right: 15px;
}

.avatar img
{
    width: 80px;
    height: 80px;
}

.announcement-card .content
{
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}

.announcement-card
{
  background-color: transparent;
  color: #fff;
  border: none;
}
